[remote "Valloric"]
    url = git@github.com:Valloric/YouCompleteMe.git
    fetch = +refs/heads/*:refs/remotes/Valloric/*
[remote "github"]
    url = git@github.com:huangyingw/YouCompleteMe.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = origin
    remote = github
[gsync]
    remote = Valloric
    branch = master
[commit]
    message = n
[branch "python3/dev.fix"]
    remote = origin
    merge = refs/heads/python3/dev.fix
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
